# Database
POSTGRES_DB=manga_reader
POSTGRES_USER=app
POSTGRES_PASSWORD=change_this_password_in_production

# Backend
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?serverVersion=15&charset=utf8"
APP_SECRET=change_this_secret_in_production
JWT_PASSPHRASE=change_this_passphrase_in_production

# Frontend
NEXT_PUBLIC_API_URL=http://localhost/api
