<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnWarning="false"
         failOnRisky="false"
         stopOnFailure="false">
    <coverage>
        <include>
            <directory>src</directory>
        </include>
        <report>
            <html outputDirectory="coverage/html"/>
            <text outputFile="php://stdout" showUncoveredFiles="true"/>
            <clover outputFile="coverage/clover.xml"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Auth Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
